<%- include("header"); -%>


<h3>About</h3>
<p>This is a website that contains two seperate lists for your daily routine. one is a toDo list for daily activities and another list called work for work related activities</p>

<%- include("footer"); -%>